
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;

}


/* header starts */

header{

height:85vh;	
background-image:url("images/desktop/image-hero.jpg");
background-size:cover;
background-repeat:no-repeat;
padding: 30px 10%;
}

header nav{
display:flex;
justify-content:space-between;
align-items:center;
border: 1px thin white;
}

header nav a{
text-decoration:none;
margin: 0 15px;
color:white;
font-family:Josefin Sans;
}

/* this is for hover underline */
header nav a:hover::after{
content: "";
display: inline-block;
width:30px;
height:1px;
border-style:solid;
border-width: 2px;
border-color: transparent transparent  white transparent;
margin-left:-40px;
position:absolute;
top:10%;
}


/* this is for mobile  view only */



.sidebar-container{
background-color: rgb(0, 0, 0);
width:100%;
height: 100%;
position: fixed;
top: 0;
display: none;
}

.sidebar{
display: flex;
flex-direction: column;
gap: 110px;
align-items: center;
color: white;
}

.sidebar div:first-of-type{
display: flex;
align-items: center;
width: 100%;
padding-left:30px;
padding-top:30px;
gap: 70px;
}

.sidebar div:first-of-type + div{
display: flex;
flex-direction: column;
width: 100%;
gap: 20px;
}



.sidebar a{
display:flex;
color:white;
font-weight:500;
font-size:25px;
text-decoration:none;
padding-left:30px;
width:100%; 	
font-family:Josefin Sans;
}



#menu{
display:none;
} 

#menu > *{
fill: white;
} 

/* this is for Hero-section */


.Hero-section .hero-text{
text-align:left;
width:45%;
margin: 100px 0 0 0px;
padding:30px 30px 30px 20px;
border: 2px solid white;
font-size:20px;
color:white;
font-family:Josefin Sans;
font-size:30px;
font-weight:100;
}


.Hero-section  .hero-text H2{
font-weight:500;
font-family:Josefin Sans;
line-height:60px;
}

/* this is for the section that follows hero section */

.VR-section{
display:flex;
align-items:flex-end;
padding: 7% 10%;	
}

.VR-section img{
width:90%;
object-fit:cover;
}

.VR-section-article{
display:flex;
flex-direction:column;
width:47%;
line-height:18px;
margin:200px  0 0 -215px ;
padding:30px 0px  0px 50px; 
background-color:white;
height:250px;	
}

.VR-section-article h2{
font-size:35px;
line-height:39px;
width:90%;
font-family:Josefin Sans;

}

.VR-section-article p {
font-size:13px;
margin:40px 0 40px 0;
line-height:24px;
font-family:Josefin Sans;
}


/* this is section for project-heading */

.project-heading{
display:flex;
justify-content:space-between;
padding: 0px 10% 40px 10%;
font-family:Josefin Sans;
}

.project-heading p{
font-family:Josefin Sans;
font-size:30px;
}

.project-heading span{
border:1px solid black;
padding:0px 10px;
font-family:alata;
}

.project-heading span:hover{
background-color:black;
color:white;
}

.project-heading-mobileShow{
display:none;
border:1px solid black;
padding:7px;
text-align:center;
width:50%;
margin:40px auto;
}


.project{
display:flex;
justify-content:space-between;
margin: 0px 10% 0 10%;
}

.project div{
/* height:450px; */
/* width:256px; */
position:relative;
/* margin-top:17px; */
}

.project div img:hover{
filter:opacity(30%);

}

.mobile-project{
display: none;
}

.project p{
z-index:999;
position:absolute;
bottom:0px;
left:30px;
width:40%;
color: rgb(255, 255, 255);
font-size:15px;
line-height:22px;
font-weight: bolder;
font-family:Josefin Sans;
}

/* footer starts here */

footer{
background-color:black;
margin-top:90px;
padding: 35px 0;
}


/* this is for footer top-row */
.footer-top-row{
display:flex;
justify-content:space-between;
padding: 2px 10%;
}

.footer-top-row .right-footer-top img{
margin:7px;
width:10px;
padding: 0px 0px 5px;

}

.footer-top-row .right-footer-top img:hover{
border-bottom: 1px solid white;
padding: 0px 0px 4px;
}

.footer-top-row .left-footer-top img{
width:100px;
padding:10px 0 10px 0px;
}


/* this is for footer-second-row */
.footer-second-row{
display:flex;
justify-content:space-between;
padding: 2px  9%;	
}


.left-footer-second-row a{
margin:10px;
text-decoration:none;
color:white;
font-family:Josefin Sans;
padding:5px 0 5px;
}

.left-footer-second-row a:hover{
border-bottom: 1px solid white;
padding:5px 0 4px;
}


right-footer-second-row {
color:white;
}

.footer-social-icon-mobile-display{
display:none;
}


/* this is for Tablet view */

@media  (min-width: 500px) and  (max-width: 900px)  {

header{
width:100%; 
height:100vh;	
background-image:url("images/desktop/image-hero.jpg");
background-size:cover;
background-repeat:no-repeat;
}

/* this is for hamburger on mobile */

#menu{
display:block;
}	  


.right-nav{
display:none;
}

/* this is for mobile vertical nav controller .it must be set as  "flex" to work */

.sidebar-container{
display:none;
color: white;

}


/* this is for hero section */

.Hero-section .hero-text{
width:100%;
margin:100px auto;
padding:20px; 				
}

/* the section that follows hero section */
.VR-section{
display:flex;
flex-direction:column;
width:100%;	
}

.VR-section img{
width:100%;
object-fit:cover;
}

.VR-section-article{
display:flex;
flex-direction:column;
margin-top:40px;
flex-direction:column;
justify-content:center;
width:100%;
}


.VR-section-article h2{
margin-left:-30px;
text-align:center;
font-size:30px;
line-height:39px;
width:100%;
font-family:Josefin Sans;

}

.VR-section-article p {
font-size:16px;
margin-left:-20px;
width:100%;
line-height:29px;
font-family:Josefin Sans;
text-align:center;
}


.project-heading{
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
font-family:Josefin Sans;

}


.project-heading-mobileShow{
display:block;
}
.project-heading-mobileHide{
display:none;
}

.project{	
display:flex;
flex-wrap:wrap;
flex-direction:row;
}


.project div{
display:flex;
flex-direction:column;
position:relative;
width:90%;
margin-top: 20px;
object-fit: cover;
}

/* footer starts here */
footer{
background-color:black;
margin-top:90px;
padding: 35px 0;
}

.footer-top-row{
display:flex;
flex-direction:column;
align-items:center;
}


.footer-second-row{
display:flex;
flex-direction:column;
align-items:center;
}


.left-footer-second-row a{
display:flex;
flex-direction:column;
text-align:center;
}


.footer-social-icon-mobile-display{
display:flex;
justify-content:center;
width:50%;
}

.footer-social-icon-mobile-display img{
width:12px;
margin:7px;
border-radius:5px;
}

.right-footer-top{
display:none;
}


}

/* mobile view */

@media  (max-width: 499px){
	header{
		width:100%; 
		height:100vh;	
		background-image:url("images/mobile/image-hero.jpg");
		background-size:cover;
		background-repeat:no-repeat;
		}

.mobile-project{
display: block;
color: white;
}


.mobile-project div{
position: relative;
margin: 20px;
}
.mobile-project div img{
width: 100%;
}


.mobile-project div p{
position: absolute;
bottom:10px;
background-color: black;
}


.project{
display: none;
}

.project-heading-mobileShow{
display:block;
}
.project-heading-mobileHide{
display:none;
}


.project-heading p{
font-size:20px;
text-align: center;
width: 100%;
}

.right-nav{
display:none;
}

#menu{
display:block;
} 

.Hero-section .hero-text{
width:100%;
margin:100px auto;
padding:15px; 				
}

.Hero-section  .hero-text H2{
font-size: 35px;
}

.VR-section{
padding: unset;
justify-content: center;
flex-direction:column;
width:100%;	
align-items: center
}
.VR-section div:first-of-type{
width: 80%;
margin-top: 20px;
}
.VR-section img {
width:100%;
margin: auto;
}

.VR-section-article h2{

margin-left:unset;
width:100%;
text-align:center;
font-size: 20px;
}

.VR-section-article{
margin-left: unset;
width:100%; 
padding:0 10px;
margin-top: unset ;
}

.sidebar-container{
display: block;

}


.sidebar a svg{
color:white;
} 


footer{
	background-color:black;
	margin-top:90px;
	padding: 35px 0;
	}
	
	.footer-top-row{
	display:flex;
	flex-direction:column;
	align-items:center;
	}
	
	
	.footer-second-row{
	display:flex;
	flex-direction:column;
	align-items:center;
	}
	
	
	.left-footer-second-row a{
	display:flex;
	flex-direction:column;
	text-align:center;
	}
	
	
	.footer-social-icon-mobile-display{
	display:flex;
	justify-content:center;
	width:50%;
	}
	
	.footer-social-icon-mobile-display img{
	width:12px;
	margin:7px;
	border-radius:5px;
	}
	
	.right-footer-top{
	display:none;
	}
	
	

}

@media  (min-width: 901px) and  (max-width: 1080px)  {

	.project-heading{
		padding: 40px 3% 40px 3%;
		}

		.project{
			display:flex;
			justify-content:space-between;
			margin: 0px 10% 0 10%;
			width: 80%;
			}

		
			
			.project div img{
				border: 2px solid purple;
				width:96%;
			}
			/* .project div{
			height:450px;
			width:256px;
			position:relative;
			margin-top:17px;
			} */
	/* VR-section{
		display:flex;
		flex-direction:column;
		width:100%;	
		} */
		
		/* .VR-section img{
		width:100%;
		object-fit:cover;
		} */
/* 		
		.VR-section-article{
		display:flex;
		flex-direction:column;
		margin-top:40px;
		flex-direction:column;
		justify-content:center;
		width:100%;
		} */
		
/* 		
		.VR-section-article h2{
		margin-left:-30px;
		text-align:center;
		font-size:30px;
		line-height:39px;
		width:100%;
		font-family:Josefin Sans;
		
		} */
		
		/* .VR-section-article p {
		font-size:16px;
		margin-left:-20px;
		width:100%;
		line-height:29px;
		font-family:Josefin Sans;
		text-align:center;
		} */
		
}

/* @media  (min-width: 500px) and  (max-width: 900px)  {


.project p{
	z-index:999;
	position:absolute;
	bottom:0px;
	left:30px;
	width:40%;
	color: rgb(255, 255, 255);
	font-size:15px;
	line-height:22px;
	font-weight: bolder;
	font-family:Josefin Sans;
	}

} */